body{
    background: #BDBDBD;
}

.css-text {
  h1 {
    font-size: 8rem;
    font-weight: 600;
    width: 98%;
    transition: all 0.8s;
  }
  p {
    font-size: 5rem;
    font-weight: 500;
    width: 98%;
    transition: all 0.8s;
  }
}

@media screen and (max-width: 1200px) {
  .css-text {
    h1 {
        font-size: 7rem;
        font-weight: 600;
        width: 98%;
    }
    p {
        font-size: 4rem;
        font-weight: 500;
        width: 98%;
    }
    }
}

@media screen and (max-width: 1000px) {
  .css-text {
    h1 {
        font-size: 6rem;
        font-weight: 600;
        width: 98%;
    }
    p {
        font-size: 3.5rem;
        font-weight: 500;
        width: 98%;
    }
    }
}

@media screen and (max-width: 860px) {
  .css-text {
    h1 {
        font-size: 5rem;
        font-weight: 600;
        width: 98%;
    }
    p {
        font-size: 3rem;
        font-weight: 500;
        width: 98%;
    }
    }
}

@media screen and (max-width: 750px) {
  .css-text {
    h1 {
        font-size: 4rem;
        font-weight: 600;
        width: 98%;
    }
    p {
        font-size: 2.5rem;
        font-weight: 500;
        width: 98%;
    }
    }
}

@media screen and (max-width: 600px) {
  .css-text {
    h1 {
        font-size: 3rem;
        font-weight: 600;
        width: 98%;
    }
    p {
        font-size: 1.8rem;
        font-weight: 500;
        width: 98%;
    }
    }
}

@media screen and (max-width: 460px) {
  .css-text {
    h1 {
        font-size: 2.2rem;
        font-weight: 600;
        width: 98%;
    }
    p {
        font-size: 1.2rem;
        font-weight: 500;
        width: 98%;
    }
    }
}

.portfolio-html {
  margin-right: 40px;
  margin-left: 40px;
  width: auto;
}