<div class="contact-html container-fluid mt-4 mb-4">
    <div class="row contact-titulo mt-4 mb-4">
        <h2>Contact</h2>
    </div>
    <div class="row contact-parrafo mb-4">
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <!-- <div class="row contact-form"> -->
    <form class="contact-form container-fluid">
        <div class="row contact-form-email mb-3">
            <label for="email" class="col-2 fw-bold">Your E-mail</label>
                <div class="col">
                    <input type="email" class="form-control" id="email" placeholder="Your email">
                </div>
        </div>
        <div class="row contact-form-message">
            <label for="message" class="col-sm-2 col-form-label fw-bold">Your message</label>
                <div class="col">
                    <textarea class="form-control" id="message" style="height: 150px;" placeholder="Please enter your message here..."></textarea>
                </div>
        </div>
        <div class="text-end mt-4">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    </div>
</div>