<div class="contact-html container-fluid mt-4 mb-4">
    <div class="row contact-titulo mt-4 mb-4">
        <h2>Contact</h2>
    </div>
    <div class="row contact-parrafo mb-4">
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <!-- <div class="row contact-form"> -->
    <form>
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label fw-semibold">Your E-mail</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Your email">
                </div>
          </div>
          <div class="mb-3 row">
            <label for="message" class="col-sm-2 col-form-label fw-semibold">Your message</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
                </div>
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
    </form>

    </div>
</div>